<a href="https://colab.research.google.com/github/shivendr7/VFD_NOMA/blob/main/VFD_NOMA_pushFromDriveTogithub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('drive/MyDrive/Data_P1_100samples.csv')

In [ ]:
df.head()

       dsr1      dsr2     dr1r2       Pr2  ...  mr1D  mr2D     Zr1r2  pr1min
0  0.452431  0.252187  0.284945  0.594583  ...     1     3  0.190011  0.2157
1  0.687049  0.317395  0.675294  0.100550  ...     1     3  0.275780  0.3367
2  0.798589  0.891947  0.123375  0.470033  ...     3     3  0.323690  0.0100
3  0.305879  0.533535  0.728435  0.243057  ...     3     3  0.346765  0.0265
4  0.757938  0.594390  0.615343  0.833659  ...     3     1  0.312788  0.0100

[5 rows x 10 columns]

In [ ]:
uname = "darkshadow013"
!git config --global user.email 'shivendra12.07.98@gmail.com'
!git config --global user.name 'shivendr7'

In [ ]:
#Make a clone of github REPO
!git clone https://shivendr7:<github_password>@github.com/shivendr7/VFD_NOMA

Cloning into 'VFD_NOMA'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.

In [ ]:
#Copy file from either google drive after mounting using file browser
!cp drive/MyDrive/Data_P1_100samples.csv /content/VFD_NOMA

In [ ]:
%cd VFD_NOMA

/content/VFD_NOMA

In [ ]:
!git add Data_P1_100samples.csv
!git commit -m 'commit msg'
!git push

[main a186c08] commit msg
 1 file changed, 101 insertions(+)
 create mode 100644 Data_P1_100samples.csv
Counting objects: 3, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 3.58 KiB | 3.58 MiB/s, done.
Total 3 (delta 0), reused 0 (delta 0)
To https://github.com/shivendr7/VFD_NOMA
   9a15292..a186c08  main -> main

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('drive/MyDrive/Data_P1_100000samples.csv')

In [3]:
df.head()

      dsr1     dsr2     dr1r2      Pr2  ...  mr1D  mr2D     Zr1r2  pr1min
0  0.16891  0.99012  0.969010  0.54219  ...     1     3  0.118850  0.0956
1  0.69591  0.64120  0.042443  0.88995  ...     1     1  0.164750  0.0010
2  0.70607  0.72167  0.116860  0.99005  ...     2     1  0.005106  0.0021
3  0.79231  0.20714  0.601470  0.68766  ...     3     1  0.349490  0.0076
4  0.62581  0.20463  0.384060  0.60798  ...     2     3  0.120030  0.2320

[5 rows x 10 columns]

In [4]:
#uname = "darkshadow013"
!git config --global user.email 'shivendra12.07.98@gmail.com'
!git config --global user.name 'shivendr7'

In [5]:
#Make a clone of github REPO
!git clone https://shivendr7:<github_password>@github.com/shivendr7/VFD_NOMA

Cloning into 'VFD_NOMA'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 9 (delta 1), reused 2 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), done.

In [6]:
#Copy file from either google drive after mounting using file browser
!cp drive/MyDrive/Data_P1_100000samples.csv /content/VFD_NOMA

In [7]:
%cd VFD_NOMA

/content/VFD_NOMA

In [8]:
!git add Data_P1_100000samples.csv
!git commit -m 'commit msg'
!git push

[main 32fe7af] commit msg
 1 file changed, 100001 insertions(+)
 create mode 100644 Data_P1_100000samples.csv
Counting objects: 3, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 1.93 MiB | 2.37 MiB/s, done.
Total 3 (delta 1), reused 0 (delta 0)
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
To https://github.com/shivendr7/VFD_NOMA
   25ee8b5..32fe7af  main -> main